* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #242526;
}

.boxUsers-container,
.boxMessage,
.form-container {
    border-right: 1px #393a3b solid;
    height: 100vh;
}

.boxUser {
    height: 70px;
    margin-top: 40px;
    display: flex;
 
} 

h5 {
    font-size: 20px;
    font-weight: 200;
}

.userAvatar{
    margin-right: 5px;
}

.userAvatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.userName {
    margin-top: 10px;
}